@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
	background: #23272a;
	font-family: "Inter", "Segoe UI", "Roboto", "sans-serif";
	margin: 0;
	padding: 0;
}